<div>
  <div
    class="unirse-partida-container container-fluid d-flex flex-column justify-content-center align-items-center text-center">
    <div class="unirse-partida-content">
      <h1 class="page-title mb-4">Unirse a una partida</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="partida-form">
        <div class="form-group mb-4">
          <label for="codigo" class="form-label">Introduce el código del juego</label>
          <input id="codigo" type="text" formControlName="codigo" maxlength="6" placeholder="Ingrese el código"
            aria-describedby="codigoHelp" class="form-control" />
          <small class="codigo-longitud">{{ form.get('codigo')?.value?.length || 0 }}/6</small>
          <div *ngIf="codigo?.invalid && (codigo?.dirty || codigo?.touched)" class="jugadores-info mt-2">
            <small *ngIf="codigo?.hasError('required')" class="text-danger">El código es obligatorio.</small>
            <small *ngIf="codigo?.hasError('pattern')" class="text-danger">Debe tener exactamente 6 caracteres
              alfanuméricos.</small>
          </div>
        </div>

        <div class="botones-container">
          <button type="submit" class="btn btn-primary btn-lg btn-hover" [disabled]="form.invalid">Buscar Juego</button>
          <button type=" button" class="btn btn-secondary btn-lg btn-hover" routerLink="/home">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>